leadfisher {
  position: static;
  right: auto;
  bottom: auto;
  left: auto;
  display: inline;
  flex: none;
  justify-content: flex-start;
  order: 1;
  clear: none;
  box-sizing: content-box;
  min-width: 0;
  max-width: none;
  height: auto;
  min-height: 0;
  max-height: none;
  margin: 0;
  padding: 0;
  object-fit: fill;
  overflow: visible;
  font-weight: normal;
  line-height: normal;
  direction: ltr;
  letter-spacing: normal;
  text-align: left;
  word-wrap: normal;
  hyphens: manual;
  caption-side: top;
  background: none;
  border: 0;
  outline: 0 none;
  box-shadow: none;
  backface-visibility: visible;
  perspective: none;
  opacity: 1;
  filter: none !important;
  animation: 0s none;
  clip: auto;
  resize: none;
  zoom: normal;
  text-size-adjust: inherit;
  -webkit-font-smoothing: antialiased;
  image-rendering: auto;
  -webkit-text-fill-color: currentcolor;
  orphans: 2;
}
